@import "../../Common/variables.module.scss";

.container{
    display: flex;
    align-items: center;
    gap: $flex-gap;
}

.button{
    min-width: 300px;
}

.innerbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;;
}

.innerbuttonright{
    display: flex;
    flex-direction: row;
    align-items: center;
}