@import "../../Common/variables.module.scss";

.container {
    display: flex;
    align-items: center;
    gap: $flex-gap;
}

.button {
    min-width: 300px;
    min-height: 70px;
    padding: 0px !important;
}

.innerbutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 250px;
    min-height: 60px;
    padding-top: calc($padding/2);
    padding-left: calc($padding);
    padding-bottom: calc($padding/2);
}

.innerbuttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-width: 130px;
    min-height: 30px;
}

.tag {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricetag {
    @extend .tag;
    left: 0px;
}

.stockTag {
    @extend .tag;
    left: 80px;
}

.rating {
    width: 50px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.favouriteIcon {
    width: 90% !important;
    height: 90% !important;
}
