@use "../../Common/variables.module.scss";

.outterContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: variables.$flex-gap;
}

.headline {
    padding-top: variables.$padding;
}

.input {
    width: 70%;
    min-width: 350px !important;
}

.buttonArea {
    display: grid;
    gap: variables.$flex-gap;
    justify-content: center;
    width: 100%;
    padding: variables.$padding;

    @media (min-width:variables.$PHONE_SIZE_THRESHOLD) {
        grid-template-columns: repeat(auto-fill, 200px);
    }

    @media (max-width:variables.$PHONE_SIZE_THRESHOLD) {
        grid-template-columns: repeat(auto-fill, 100%);
    }

}

.historyContainer {
    overflow: hidden;
    padding: variables.$padding;
}

.textfieldForm {
    width: 100%;
    max-width: 900px;
    padding-left: variables.$padding;
    padding-right: variables.$padding;
    display: flex;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
}