@import "../../Common/variables.module.scss";

.outterContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: $flex-gap;
}

.headline {
    padding-top: $padding;
}

.input {
    width: 70%;
    min-width: 350px !important;
}

.buttonArea {
    display: grid;
    gap: $flex-gap;
    justify-content: center;
    width: 100%;
    padding: $padding;

    @media (min-width:$PHONE_SIZE_THRESHOLD) {
        grid-template-columns: repeat(auto-fill, 200px);
    }

    @media (max-width:$PHONE_SIZE_THRESHOLD) {
        grid-template-columns: repeat(auto-fill, 100%);
    }

}

.historyContainer {
    overflow: hidden;
    padding: $padding;
}

.textfieldForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
}