@import "../../Common/variables.module.scss";

.container {
    padding: $padding;
}

.entryBottomInfo {
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
}

.newCheckoutContainer {
    display: flex;
    gap: $flex-gap;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.newCheckoutContainerHeadline {
    display: flex;
    gap: $flex-gap;
    flex-direction: row;
    align-items: center;
}

.textfield{
    min-width: 200px !important;
}

.table{
    width: 80% !important;
    min-width: fit-content;
}

.sum{
    background-color: rgba(255, 255, 255, 0.178);
}

.cashInput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: $flex-gap;
}