@import "../../Common/variables.module.scss";

.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: calc($padding/2);
}

.footerButton{
    width: 100%;
}