@use "../../Common/variables.module.scss";

.table {
    padding: variables.$padding;
}

.newMemberContainer{
    margin-left: variables.$padding !important;
    margin-right: variables.$padding !important;
    max-width: max-content;
}

.firstRowAlign {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.hidden {
    background-color: rgba(0, 0, 0, 0.103);
}

.statisticBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: variables.$flex-gap;
}

.searchID {
    width: 80px;
}

.searchName {
    width: 200px;
}

.newUserBoxInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: variables.$flex-gap;
}
