@use "../../Common/variables.module.scss";

.table {
    padding: variables.$padding;
}

.newMemberContainer{
    margin-left: variables.$padding !important;
    margin-right: variables.$padding !important;
    max-width: none;
    width: 100%;
    box-sizing: border-box;
}

.firstRowAlign {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.hidden {
    background-color: rgba(0, 0, 0, 0.103);
}

.statisticBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: variables.$flex-gap;
}

.searchID {
    width: 80px;
}

.searchName {
    width: 200px;
}

.newUserBoxInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: variables.$flex-gap;
    width: 100%;
    align-items: center;

    & > * {
        flex: 1 1 240px;
        min-width: 200px;
    }
}
