@use "../../Common/variables.module.scss";

.editMemberRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: variables.$flex-gap;
}

.editMemberContainer {
    display: flex;
    flex-direction: column;
    gap: variables.$flex-gap;
}
