@use "../../Common/variables.module.scss";

.balanceContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: variables.$flex-gap;
}

.balanceTop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: variables.$padding;
    gap: variables.$flex-gap;
    max-width: 440px;
}

.drinkButtonContainer {
    display: flex;
    gap: variables.$flex-gap;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 65vw;
}

.balanceBoxContainer {
    display: flex;
    flex-direction: column;
    gap: variables.$flex-gap;
}

.buyDrinkContainer {
    display: flex;
    flex-direction: column;
    gap: variables.$flex-gap;
    min-width: 330px;
    flex-grow: 1;
}

.buyDrinkContainerInner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: variables.$flex-gap;
}

.details {
    display: flex;
    gap: calc(3 * variables.$flex-gap);
    padding: variables.$padding;
    flex-wrap: wrap;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    gap: variables.$flex-gap;
    min-width: 340px;
    max-width: 410px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: calc(variables.$padding/2);
}

.footerButton {
    width: 100%;
}

.deleteContainer {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.recommendationBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: variables.$flex-gap;
}

.transferBox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: variables.$flex-gap;
    width: 100%;
}

.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameHeadline{
    display: flex;
}

.confirmButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

em-emoji-picker {
    max-width: 60vw;
}

.userList{
    width: 100%;
}