@import "../../Common/variables.module.scss";

.balanceContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $flex-gap;
}

.balanceTop {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $padding;
    gap: $flex-gap;
    //background-color: #f1f1f1 !important;
}

.drinkButtonContainer {
    display: flex;
    gap: $flex-gap;
    flex-direction: column;
    flex-wrap: wrap;
}

.balanceBoxContainer {
    display: flex;
    flex-direction: column;
    gap: $flex-gap;
}

.buyDrinkContainer {
    display: flex;
    flex-direction: column;
    gap: $flex-gap;
    min-width: 330px;
}

.buyDrinkContainerInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $flex-gap;
    column-gap: calc(2 * $flex-gap);
    max-width: 1050px;
}

.details {
    display: flex;
    gap: calc(3 * $flex-gap);
    padding: $padding;
    flex-wrap: wrap;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    gap: $flex-gap;
    min-width: 340px;
    max-width: 500px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: calc($padding/2);
}

.footerButton {
    width: 100%;
}

.deleteContainer {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

em-emoji-picker {
    max-width: 60vw;
}
