@use "../../Common/variables.module.scss";

.overview{
    padding: variables.$padding;
    display: flex;
    flex-wrap: wrap;
    gap: variables.$flex-gap;
}

.button{
    width: 250px;
    height: 100px;
}