@use "../../Common/variables.module.scss";

.container {
    padding: variables.$padding;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: variables.$flex-gap;
}

.uploadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: variables.$flex-gap;
}

.fileInput {
    width: 320px;
}

.passwordRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: variables.$flex-gap;
}
