@import "../../Common/variables.module.scss";

.container {
    padding: $padding;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: $flex-gap;
}

.uploadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: $flex-gap;
}

.fileInput {
    width: 320px;
}

.passwordRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: $flex-gap;
}
